.place__website__url-heading {
    width: 456px;
    height: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
}

@media (max-width: 420px) and (min-width: 320px) {
    .place__website__url-heading  {
        margin-left: 26px;
    }
}