.lead__image {
    width: 984px;
    height: 615px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) and (min-width: 420px) {
    .lead__image {
      width: 100%;
    }
}

@media (max-width: 420px) {
    .lead__image {
        width: 420px;
        height: 200px;
        padding-right: 16px;
    }
}